; begin auth token
//pkgs.dev.azure.com/aftiasolutions/_packaging/AMPFeed/npm/registry/:username=aftiasolutions
//pkgs.dev.azure.com/aftiasolutions/_packaging/AMPFeed/npm/registry/:_password=${AMP_ARTIFACTS_PAT_BASE64}
//pkgs.dev.azure.com/aftiasolutions/_packaging/AMPFeed/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/aftiasolutions/_packaging/AMPFeed/npm/:username=aftiasolutions
//pkgs.dev.azure.com/aftiasolutions/_packaging/AMPFeed/npm/:_password=${AMP_ARTIFACTS_PAT_BASE64}
//pkgs.dev.azure.com/aftiasolutions/_packaging/AMPFeed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

registry=https://pkgs.dev.azure.com/aftiasolutions/_packaging/AMPFeed/npm/registry/ 
                        
always-auth=true